<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="grid-toolbar">

      <!-- Begin custom menu toolbar -->
      <div class="row-toolbar">

        <div class="col-menu">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
     

        <div class="col-logo">
          <img src="assets/images/several/usinaplay.png" alt="">
        </div>

        <div class="col-icon">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>

      </div>
      <!-- End custom menu toolbar -->
      
      
      <!-- Begin custom Profile -->
      <div class="row-profile">
        <div class="col-avatar">
          <img src="assets/images/users/avatar.png" alt="">
        </div>
        <div class="col-details">
          <h1>Leonardo Santos</h1>
          <p>Nível Roxo</p>
        </div>
      </div>
      <!-- End custom Profile -->



      <!-- Begin custom informations around -->
      <div class="row-informations-around">
        <div class="col-informations-around">


          <div class="icon-information-left">
            <div class="icon-left">
              <img src="assets/images/several/icon-body.png" alt="">
            </div>
            <div class="text-information-left">
              MEU CORPO
            </div>
          </div>

          <div class="icon-information-right">
            <div class="icon-right">
              <img src="assets/images/several/icon-body.png" alt="">
            </div>
            <div class="text-information-right">
              OBJETIVOS E CONQUISTAS
            </div>
          </div>
        </div>
      </div>
      <!-- End custom informations around -->



    </div>







  </ion-toolbar>
</ion-header>






<ion-content>

  

</ion-content>
