<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="grid-toolbar">

      <!-- Begin custom menu toolbar -->
      <div class="row-toolbar">

        <div class="col-menu">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
     

        <div class="col-logo">
          <img src="assets/images/several/usinaplay.png" alt="">
        </div>

        <div class="col-icon">
          <div class="back-icon"></div>
          <div class="status-icon"></div>
          <ion-icon name="notifications-outline"></ion-icon>
        </div>

      </div>
      <!-- End custom menu toolbar -->
      
      
      <!-- Begin custom Profile -->
      <div class="row-profile">
        <div class="col-avatar">
          <img src="assets/images/users/avatar.png" alt="">
        </div>
        <div class="col-details">
          <h1>Leonardo Santos</h1>
          <p>Nível Roxo</p>
        </div>
      </div>
      <!-- End custom Profile -->



      <!-- Begin custom informations around -->
      <div class="row-informations-around">
        <div class="col-informations-around">

          <div class="icon-information-left">
            <div class="icon-left">
              <img src="assets/images/several/icon-body.png" alt="">
            </div>
            <div class="text-information-left">
              MEU CORPO
            </div>
          </div>

          <div class="icon-information-right">
            <div class="icon-right">
              <img src="assets/images/several/icon-body.png" alt="">
            </div>
            <div class="text-information-right">
              OBJETIVOS E CONQUISTAS
            </div>
          </div>
        </div>
      </div>
      <!-- End custom informations around -->
    </div>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-grid>
    <!-- Begin Personal online -->
    <ion-row>
      <ion-col>
        <h1>PERSONAL ONLINE <img src="assets/images/several/icon_add.png" id="icon_add"></h1>
      </ion-col>
    </ion-row>
    
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let card of [0, 1, 2, 3, 4, 5, 6]">
        <ion-col>
          <img src="assets/images/several/button_add.png" id="button_add">
          <h3>NOVO TREINO</h3>
          <img src="assets/images/several/peso.png" alt="">
        </ion-col>
      </ion-slide>
    </ion-slides>
    <!-- Begin Personal online -->
    
    
    
    <!-- Begin Programas -->
    <ion-row>
      <ion-col [ngStyle]="{display: 'flex'}">
        <h1>PROGRAMAS</h1> 
        <div class="text-new">
          <strong>NOVO</strong>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let card of [0, 1, 2, 3, 4, 5, 6]">
        <ion-col>
          <div class="text-programms">
            <h5>Continuar treinando</h5>
            <p>LEVANTANDO PESO</p>
          </div>
          <img src="assets/images/several/peso.png" alt="">
        </ion-col>
      </ion-slide>
    </ion-slides>
    <!-- Begin Programas -->
    
    
    
    <!-- Begin Conteúdos -->
    <ion-row>
      <ion-col>
        <h1>CONTEÚDOS</h1>
      </ion-col>
    </ion-row>
    
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let card of [0, 1, 2, 3, 4, 5, 6]">
        <ion-col>
          <img src="assets/images/several/peso.png" alt="">
        </ion-col>
      </ion-slide>
    </ion-slides>
    <!-- Begin Conteúdos -->
  </ion-grid>

</ion-content>
